---
---
{% assign keys = site.data.translations %}
{% assign lang = keys[page.lang] %}
<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <!-- Google Tag Manager -->
    <!-- End Google Tag Manager -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ lang.metaDesc }}" />
    <!-- Open Graph -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="{{ lang.title }}" />
    <meta property="og:description" content="{{ lang.socialMediaDesc }}" />
    <meta property="og:url" content="{{ lang.siteLocalizedUrl }}" />
    <meta property="og:image" content="{{ lang.socialMediaImgUrl }}" />
    <!-- Twitter/X -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ lang.title }}" />
    <meta name="twitter:description" content="{{ lang.socialMediaDesc }}" />
    <meta name="twitter:image" content="{{ lang.socialMediaImgUrl }}" />
    <!-- Canonical and Hreflang -->
    <link rel="canonical" href="{{ keys.siteUrl }}" />
    <link rel="alternate" hreflang="en" href="{{ keys.siteUrl }}" />
    <link rel="alternate" hreflang="zh-HK" href="{{ keys.siteUrl }}zh/" />
    <link rel="alternate" hreflang="x-default" href="{{ keys.siteUrl }}" />
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.ico" />
    <!-- CSS and styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href="{{ lang.cssUrl }}" rel="stylesheet">
    <!-- Webfonts go here -->
    <title>{{ lang.title }}</title>
</head>
<body class="{{ page.lang }}" id="top">
    <!-- Google Tag Manager (noscript) -->
    <!-- End Google Tag Manager (noscript) -->
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Phoebe Tse, <abbr title="Occupational Therapist">OT</abbr></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                     <li class="nav-item">
                        <a class="nav-link" href="#services">{{ lang.services }}</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#about">{{ lang.about }}</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#contact">{{ lang.contact }}</a>
                     </li>
                  </ul>
               </div>
               <div class="d-flex">
                  <div class="dropdown d-lg-inline-block d-none">
                      <a class="btn btn-outline-secondary" lang="{{ lang.theOtherLang }}" href="{{ lang.theOtherLangHomeUrl }}">{{ lang.lang_btn_text }}</a>
                  </div>
                  <button class="navbar-toggler border-0" id="mobileNavToggle" type="button" aria-label="{{ lang.mobileToggleBtnAriaLabel }}">
                  <span class="navbar-toggler-icon"></span>
                  </button>
               </div>
            </div>
         </nav>
    </header>
    <main>
        <aside>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="mobileNav" aria-labelledby="mobileNavTitle">
               <div class="offcanvas-header border-bottom">
                  <h2 id="mobileNavTitle" class="h4 offcanvas-title">{{ lang.mobileMenuTitle }}</h2>
                  <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="{{ lang.close }}" data-bs-target="#mobileNav"></button>
               </div>
               <div class="offcanvas-body pt-2">
                  <ul class="nav flex-column border-bottom mb-3">
                     <li class="nav-item border-bottom">
                        <h3 class="h5 mb-0"><a class="nav-link px-0" href="#services">{{ lang.services }}</a></h3>
                         <p>{{ lang.offcanvasServicesDesc }}</p>
                     </li>
                     <li class="nav-item border-bottom">
                        <h3 class="h5 mb-0"><a class="nav-link px-0" href="#about">{{ lang.about }}</a></h3>
                         <p>{{ lang.offcanvasAboutDesc }}</p>
                     </li>
                     <li class="nav-item">
                        <h3 class="h5 mb-0"><a class="nav-link px-0" href="#contact">{{ lang.contact }}</a></h3>
                         <p>{{ lang.offcanvasContactDesc }}</p>
                     </li>
                  </ul>
                  <p class="mb-0 fw-bold">{{ lang.chooseLanguage }}:</p>
                  <a class="d-inline-block" lang="en" href="/">English</a> | <a class="d-inline-block" lang="zh-HK" href="/zh/">中文</a>
               </div>
            </div>
        </aside>
        <div class="hero bg-light">
            <div class="container-fluid py-5">
               <div class="col-lg-10 col-xl-6 mx-auto">
                  <div class="text-center">
                     <h1 class="display-4 mb-4">{{ lang.h1 }}</h1>
                      <p class="h4">{{ lang.intro }}</p>
                      <div class="row my-5 g-2">
                          <div class="col-8 offset-2 offset-md-3 offset-lg-0 col-md-6">
                              <a href="{{ lang.primaryCtaHref }}" class="btn btn-lg btn-primary w-100">{{ lang.primaryCta }}</a>
                          </div>
                          <div class="col-8 offset-2 offset-md-3 offset-lg-0 col-md-6">
                              <a href="{{ lang.theOtherLangHomeUrl }}" class="btn btn-lg btn-outline-primary w-100" lang="{{ lang.theOtherLang }}">{{ lang.secondaryCta }}</a>
                          </div>
                      </div>
                  </div>
               </div>
            </div>
        </div>
        <section id="services" class="py-4">
            <div class="container-xl overflow-hidden">
                <h2 class="mb-4">{{ lang.services }}</h2>
               <div class="row gy-4 gx-5">
                  <div class="col-12 col-sm-6 col-lg-4">
                     <div class="card h-100">
                        <div class="card-body">
                           <h3 class="card-title">Card title</h3>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-4">
                     <div class="card h-100">
                        <div class="card-body">
                           <h3 class="card-title">Card title</h3>
                           <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-4">
                     <div class="card h-100">
                        <div class="card-body">
                           <h3 class="card-title">{{ lang.serviceChineseSupportTitle }}</h3>
                           <p class="card-text">{{ lang.serviceChineseSupportDesc }}</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <section id="about" class="bg-light py-4">
            <div class="container-xl">
               <h2 class="mb-4">{{ lang.about }}</h2>
               <div class="row">
                  <div class="col-6">
                     <h3>Test</h3>
                  </div>
                  <div class="col-6">
                     <p>Phoebe Tse</p>
                  </div>
               </div>
            </div>
         </section>
         <section class="py-4">
             <div class="container-xl">
                 <h2 class="mb-4">{{ lang.contact }}</h2>
                 <div class="row">
                     <div class="col-4">
                     </div>
                 </div>
             </div>
         </section>
      </main>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
      <script src="{{ lang.jsUrl }}"></script>
      <script src="https://kit.fontawesome.com/d10e784283.js" crossorigin="anonymous"></script>
   </body>
</html>
